/node_modules
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.idea
**/*.vscode
**/build
!.mvn/wrapper/maven-wrapper.jar
**/*.gradle
**/out
**/.DS_Store
**/*.iml
**/target
**/bin
**/.settings
**/*.classpath
**/*.project
**/logs
**/*.log
**/*.jtl
src/test/resources/*.txt
**/LOG_FILE_IS_UNDEFINED
**/.sts4-cache
**/FFDC
**/jacoco.exec
**/*.editorconfig
**/output.xml
**/nbproject
**/nbactions.xml
*.bat
*.rb
**/*.vagrant
**/Vagrant
**/Vagrantfile
**/docker-compose*.yml
